*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    align-items: right;
}

.logo{
    background-color: blue;
}

div{
    display: block;
    align-items: right;
}